
@{
    ViewBag.Title = "Privacy";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>
                Privacy Policy
            </h2>
            <p>
                Your privacy is very important to me. Accordingly, I have developed this Policy in order for you to understand how I collect, use, communicate and disclose
                and make use of personal information. The following outlines my privacy policy.
            </p>
            <ul>
                <li>
                    Before or at the time of collecting personal information, I will identify the purposes for which information is being collected.
                </li>
                <li>
                    I will collect and make use of personal information solely with the objective of fulfilling those purposes specified by the page in question,
                    unless I obtain the consent of the individual concerned or as required by law.
                </li>
                <li>
                    I will only retain personal information as long as necessary for the fulfillment of those purposes.
                </li>
                <li>
                    I will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
                </li>
                <li>
                    Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate,
                    complete, and up-to-date.
                </li>
                <li>
                    I will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying,
                    use or modification.
                </li>
                <li>
                    I will make readily available to users information about my policies and practices relating to the management of personal information.
                </li>
            </ul>
            <p>
                I am committed to maintaining this website in accordance with these principles in order to ensure that the confidentiality of personal information is
                protected and maintained.
            </p>
            <h4 id="disclosures">Disclosures</h4>
            <p>
                I currently leverage Google Analytics to provide site metrics. To quote the mighty Google:
            </p>
            <blockquote>
                <p>
                    Google Analytics is Google&#039;s free web analytics tool that mainly helps website owners to understand how their visitors
                    engage with their website. It also sets cookies on the domain of the site you are visiting. It uses a set of cookies
                    with names like <code>__utma</code> and <code>__utmz</code> to collect information anonymously and report website trends
                    without identifying individual visitors.
                </p>
            </blockquote>
            <p>
                If you want to learn some the technical details of Analytics, check out
                <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">
                    https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage
                </a>.
                The key takeaways are:
            </p>
            <ol>
                <li><b>You are NEVER personally-identified in any tracking data Google collects on my behalf</b>, and</li>
                <li><b>I do NOT retain any tracking data on my site</b>.</li>
            </ol>
        </div>
    </div>
</div>