
@{
    ViewBag.Title = "Terms Of Use";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>
                Web Site Terms and Conditions of Use
            </h2>
            <h3>
                1. Terms
            </h3>
            <p>
                By accessing this web site, you are agreeing to be bound by these
                web site Terms and Conditions of Use, all applicable laws and regulations,
                and agree that you are responsible for compliance with any applicable local
                laws. If you do not agree with any of these terms, you are prohibited from
                using or accessing this site. The materials contained in this web site are
                protected by applicable copyright and trade mark law.
            </p>
            <h3>
                2. Use License
            </h3>
            <p>
                All original material on this site is released under a <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribution Share-Alike 3.0 United States</a> license.
            </p>
            <p>
                You are free to use any code snippets or sample programs obtained on this site as you see fit, with the one stipulation that you
                should not apply a more restrictive license on your derivative works. In other words, don't GPL or close-source what I give freely.
            </p>

            <h3>
                3. Disclaimer
            </h3>
            <p>
                The materials on this web site are provided "as is". I make no warranties, expressed or implied, and hereby
                disclaim and negate all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a
                particular purpose, or non-infringement of intellectual property or other violation of rights. Further, I do not warrant or make
                any representations concerning the accuracy, likely results, or reliability of the use of the materials on this web site or otherwise
                relating to such materials or on any sites linked to this site.
            </p>

            <h3>
                4. Limitations
            </h3>

            <p>
                In no event shall I be liable for any damages (including, without limitation, damages for loss of data or profit,
                or due to business interruption,) arising out of the use or inability to use the materials on this Internet site, even if I or an authorized
                representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on
                implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
            </p>

            <h3>
                5. Revisions and Errata
            </h3>

            <p>
                The materials appearing on this web site could include technical, typographical, or photographic errors. I do not warrant that any of
                the materials on its web site are accurate, complete, or current. I may make changes to the materials contained on its web site at
                any time without notice. I do not, however, make any commitment to update the materials.
            </p>

            <h3>
                6. Links
            </h3>

            <p>
                I have not reviewed all of the sites linked to this web site and am not responsible for the contents of any such linked site.
                The inclusion of any link does not imply endorsement of the site. Use of any such linked web site is at the user&#039;s own risk.
            </p>

            <h3>
                7. Site Terms of Use Modifications
            </h3>

            <p>
                I may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound
                by the then current version of these Terms and Conditions of Use.
            </p>

            <h3>
                8. Governing Law
            </h3>

            <p>
                Any claim relating to this web site shall be governed by the laws of the State of Michigan without regard to its conflict of law provisions.
            </p>
        </div>
    </div>
</div>