Content-Type: text/html; charset=utf-8

<html>
<body>
    <p><b>Hello there!</b></p>
    <p>
        This message is to confirm a recent contact notification. Akismet has reviewed it and determined it is <b>not</b> spam.
    </p>
    <h4>Here's the message:</h4>
    <blockquote>
        @Html.Raw(ViewBag.HtmlMessage)
    </blockquote>
    <p>
        See you soon!
    </p>
</body>
</html>
