@{
    ViewBag.Title = "Server Error";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-danger">
                <i class="fa fa-frown-o text-danger"></i>
                Uh-oh.
            </h2>
            <hr />
            <p class="text-center">
                <img src="~/content/images/sheep.png" />
            </p>
            <p class="text-center">
                Something appears to have gone wrong. Please wait a moment and then try again.
            </p>
        </div>
    </div>
</div>
