@{
    ViewBag.Title = "Unauthorized";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-danger">
                <i class="fa fa-frown-o"></i>
                @ViewBag.Title
            </h2>
            <hr />
            <p class="text-center">
                <img src="~/content/images/angry-sheep.png" />
            </p>
            <p class="text-center">
                You must be logged in to view this resource.
            </p>
        </div>
    </div>
</div>