body
{
    padding-top: 125px;
    padding-bottom: 20px;
}


.container
{
    max-width: 650px;
}


/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

    .body-content h2
    {
        margin: 0 0 10px;
        padding: 0;
    }


.marque
{
    text-align: center;
}

    .marque h1
    {
        font-weight: 700;
        font-size: 64px;
        margin-bottom: 15px;
        padding: 0;
    }

#contact-btn
{
    width: 200px;
}

.social-links
{
    margin: 0;
    padding: 0;
    text-align: center;
}


textarea
{
    display: block;
    width: 100%;
    min-height: 100px;
}


.copyright-spacer
{
    margin: 0 3px;
}

#footer
{
}

    #footer ul.footer-nav
    {
        list-style: none;
    }

        #footer ul.footer-nav li
        {
            display: inline-block;
            margin-left: 1em;
        }
